<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-body-secondary">YelpCamp 2024 <img src="https://forthebadge.com/images/badges/does-not-contain-treenuts.svg" alt=""></span>   
    </div>
</footer>